body {
  background-color: silver;
}
ul li a {
  color: blue;
  font-style: italic;
}
.about {
  border: 2px solid black;
  padding: 6px;
  margin: 20px;
  background-color: orange;
  width: 350px;
  float: left;
}
h1 {
  font-family: cursive;
  color: gray;
}
